<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @if (IsRouteAnonymous(routeData))
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
            }
            else
            {
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                    <NotAuthorized>
                        <Home />
                    </NotAuthorized>
                </AuthorizeRouteView>
            }
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <h1>Page not found</h1>
                <p>Sorry, but the page you requested could not be found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {


    private bool IsRouteAnonymous(RouteData routeData)
    {
        var page = routeData.PageType;
        if (page == typeof(ForgotPassword) || page == typeof(ResetPassword))
        {
            return true;
        }

        // Add other anonymous pages here as needed
        return false;
    }
}
